<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <%text = PigLatinizer.new%>
    <p>"<%=text.piglatinizer(@phrase)%>"</p>
  </body>
</html>