<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>You entered "<%=@phrase.text%>"</p>
    <p>which translates into:</p>
    <p>"<%=@phrase.result%>"</p>
  </body>
</html>